td {
	margin-left:10px;
	width:400px;
}

img{
	height:90%;
	width:90%;
}

ol{
	font-size:1.5em;
	color:white;
}
		
.centerT{
	text-align: center;
	list-style-position:inside;
	color:white;
	text-decoration: underline;
}

font{
	 color:white;
}
		