td {
	margin-left:10px;
	width:400px;
}
/* Ordered List*/
ol{
	font-size:1.5em;
	color:white;
}
		
.centerT{
	text-align: center;
	list-style-position:inside;
}

#sandwichImg{
	height:300px;
	width:300px;
	/*https://miami.eat24hours.com/files/cuisines/v4/sandwiches.jpg*/
	
}

#saladImg{
	height:300px;
	width:380px;
	/*https://www.panerabread.com/foundation/menu/details/thai-chicken-salad-whole.jpg/_jcr_content/renditions/thai-chicken-salad-whole.desktop.jpeg*/
	/*By: Panera Bread*/
	
}

#drinkImg{
	height:300px;
	width:300px;
	/*https://www.einsteinbros.com/images/bg-menu-beverages.jpg*/
}

#menuImg{
	height:250px;
	width:800px;
}



table{
	width:90%;
	margin:20px;
}

font{
	 color:white;
}
		
